* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Tiny5';
    color: white;
    background-color: #24033f;
    /* background: linear-gradient(180rad,#24033f, #532e6e, #24033f); */
}

.link {
    color: white;
    font-style: italic;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link-story {
    font-size: 18px;
    color: white;
    /* background-color: #7b44a1; */
    font-style: italic;
    text-decoration: none;

    margin-top: 25px;
    padding-inline: 10px;
    padding-bottom: 5px;
}

.link-story:hover {
    font-weight: bold;
}

/* Estilização do Header */

header {
    /* border: solid; */

    width: 50%;
    height: 20vh;

    background-color: #361e48;
}

#header-title {
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: solid; */
    font-family: 'GrapeSoda';
    height: 65%;
}

#header-title h1 {
    font-size: 60px;
}

#header-links {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

    /* border: solid; */

    height: 35%;
}

#recent {
    color: #555454;
    background-color: #8a8989;

    transition: color 0.5s;
}

/*
#recent:hover {
    color: gold;
}
*/

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;

    transition: background-color 0.5s;
}

.header-button:hover {
    background-color: #532e6e;
}

/* Estilização do Main */

main {
    /* border: solid; */
    display: grid;
    grid-template-areas: 
        "title p p" 
        "p2 p p";

    width: 50%;
    height: 65vh;

    margin-top: 10px;
}

/* ESTILIZAÇÃO DO MAIN DAS HISTÓRIAS */

#main-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around center;
    align-items: center;

    background-color: #532e6e;

    margin-top: 20px;
}



/* FIM DA ESTILIZAÇÃO DO MAIN DAS HISTÓRIAS */

#title {
    /* border: solid; */
    grid-area: title;

    font-family: 'GrapeSoda';
    font-size: 70px;
    padding: 7.5px;
}

#first-p {
    grid-area: p;
}

#second-p {
    grid-area: p2;
}

main p {
    /* border: solid; */
    font-size: 18.5px;
    color: #cfcdcd;
    text-wrap: balance;

    padding: 7.5px;
}


/* Estilização do Footer */


footer {
    background-color: #361e48;
    /* border: solid; */

    width: 50%;
    height: 10vh;

    /* margin-top: 10px; */
    padding-bottom: 1.5%;
}

/*
#about-footer, #copy-right {
    border: solid;
}
*/

#about-footer {
    padding-left: 10px;
    padding-top: 20px;

    color: rgb(163, 124, 24);
    font-style: italic;
}

#copy-right {
    position: relative;
    top: 1px;

    text-align: right;
    padding-right: 4.5px;

    color: #621281;
}

/* SOBRE O AUTOR */

#avatar-pfp {
    float: right;

    margin-top: 5px;
    border-radius: 2px;

    rotate: 2.5deg;
    /* transition: rotate 1s cubic-bezier(0.3, 0.8, 0.3, 2.3); /* Testando as transições kkkk */
}

/* SOBRE O BLOG */

#story-links {
    /* border: solid; */
    
    margin-top: 20px;
}

.story-sect {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: solid; */
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    background-color: #532e6e;

    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.blog-title-story {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #663986;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-inline: 20px;
}

.rock-small {
    width: 10%;
}

/* SUBCATEGORIA: CORES E SUAS ETIQUETAS */

#cores {
    position: relative;
    bottom: -10px;

    display: grid;
    grid-template-columns: 0.5fr 1fr;

    height: 30vh;
    margin-top: 10px;

    /* border: solid; */
}

.span-cor {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 10px;

    font-size: 18px;

    border: solid;
}

#amarelo {
    color: yellow;

    border: none;
}

#amarelo::before {
    content: '💛';
    margin-right: 5px;
}

/* vermelho */
#vermelho {
    color: red;

    border: none;
}

#vermelho::before {
    content: '❤️';
    margin-right: 5px;
}

#azul {
    color: blue;

    border: none;
}

#azul::before {
    content: '💙';
    margin-right: 5px;
}

#preto {
    color: black;

    border: none;
}

#preto::before {
    content: '🖤';
    margin-right: 5px;
}

/* SUBCATEGORIA: CORES PARAGRÁFOS */

.cor-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-wrap: balance;

    font-size: 18.5px;
    /* color: black; */

    /* border: solid; */
}

#p-amarelo {
    color: yellow;
}

#p-vermelho {
    color: red;
}

#p-azul {
    color: blue;
}

#p-preto {
    color: black;

    font-family: Wingdings;
}